# macOS files
.DS_Store

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/

# Node artifacts
node_modules/

# Package distributions
build/
dist/
.eggs/
*.egg-info/

# Logs and coverage
*.log
htmlcov/
*.cover
*.py.cover
coverage.xml
*.lcov

# Environment variables
.env
.env.*
!.env.example

# Certificate files
*.crt
*.pem
*.key

# Migration environment
migration.env


# IDE settings
.vscode/
.idea/

# Rasa caches and models
.rasa/

# Ignore all model files by default
models/**

# Explicitly track the spaCy wheel file
!models/spacy/
!models/spacy/en_core_web_sm-3.7.1-py3-none-any.whl

# Ignore Rasa model archives
**/*.tar.gz
.python-version

# Misc
*.swp
*~
